<nav class="navbar navbar-inverse navbar-md navbar-expand-lg" role="navigation">
            <li style="list-style-type:none">
              <a class="navbar-brand btn" [routerLink]="['/contact']">Tout</a>
              <a class="navbar-brand btn" [routerLink]="['/exterieur']">Extérieur</a>
              <a class="navbar-brand btn" [routerLink]="['/d1pompier']">D1 Pompier</a>
              <a class="navbar-brand btn" [routerLink]="['/d2medical']">D2 Medical</a>
              <a class="navbar-brand btn" [routerLink]="['/d3police']">D3 Police</a>
              <a class="navbar-brand btn" [routerLink]="['/d4logistique']">D4 Logistique</a>
              <a class="navbar-brand btn" [routerLink]="['/d5communication']">D5 Communication</a>
            </li>
        </nav>
<div class='text-center'>

<h2>Contacts</h2>


<div *ngFor="let product of numberservice">

<a *ngIf="product.service==='D4 Logistique'">
  <br>
      <strong>{{ product.name }}<br></strong>
      <a href="tel:{{ product.tel }}"class="btn btn-success btn-sm">
        <span class="material-icons">call</span></a>&nbsp;
    <a *ngIf="product.sms">
        <a href="sms:{{ product.sms }}" class="btn btn-danger btn-sm">
          <span class="material-icons">message</span></a>
    </a>   
      
      
</a>

  

</div>

</div>