
        <div class='text-justify'>
          <div class='text-center'>  
            <h1>Comite de coordination</h1>
            <h4>COURCELLES</h4>
            
            Première implantation :<br>
         
               <i> Hôtel de Ville<br>
                Rue Jean Jaures 2<br>
                6180 Courcelles<br></i>
                <a href="tel:071466966" class="btn btn-success btn-sm"><span class="material-icons">call</span></a>&nbsp;
                <a href="sms:071469666" class="btn btn-danger btn-sm"><span class="material-icons">message</span></a>

                            <h4>FONTAINE – L'EVEQUE</h4>
                <i>Première implantation :<br>
                Service Travaux et d'Environnement<br>
                Ruelle aux Loups 2<br>
                6140 Fontaine-l'Evêque<br>
                <a href="tel:078054015"class="btn btn-success btn-sm"><span class="material-icons">call</span></a>  <br>
                Deuxième implantation (si 1ère inaccessible) :<br>
                Château Bivort<br>
                Rue du Château 1<br>
                6140 Fontaine-l'Evêque<br></i>
                <a href="tel:078055051"class="btn btn-success btn-sm"><span class="material-icons">call</span></a>

              </div>
        </div>