<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1" />

<a [routerLink]="['/intro']" class="btn btntext btncolor  btn-block btn-embossed">Introduction</a>

<a [routerLink]="['/comdecoor']"  class="btn btncolor btntext  btn-block btn-embossed ">Comité de Coordination</a>

<a [routerLink]="['/tableaunom']" class="btn btncolor btntext  btn-block btn-embossed ">Tableau nominatif</a>

<a [routerLink]="['/points']" class="btn btntext btncolor btn-block btn-embossed">Points d'attention</a>

<a [routerLink]="['/PUI']" class="btn btntext btncolor btn-block btn-embossed">Déclenchement PUI ?</a>

<a [routerLink]="['/radio']" class="btn btntext btncolor btn-block btn-embossed">Schéma COMM R</a>

<a [routerLink]="['/zonesetperimetres']" class="btn btntext btncolor btn-block btn-embossed">Zones & périmètres</a>

<a [routerLink]="['/missions']" class="btn btntext btncolor btn-block btn-embossed">Missions</a>

<a [routerLink]="['/ppd']" class="btn btntext btncolor btn-block btn-embossed ">Points de première destination</a>

<a [routerLink]="['/contact']" class="btn btntext btn-success btn-block btn-embossed">Contacts</a>