 <h1 class='text-center'>Déclenchement PUI ?</h1>
        <div class='text-justify col-lg-12'>Pour le déclenchement de la phase, on tiendra
notamment compte d’un ou de plusieurs des
paramètres suivants :
<li>l’étendue géographique des conséquences</li>
néfastes;
<li>les moyens à mettre en œuvre;</li>
<li>le nombre réel ou potentiel de victimes;</li>
<li>le besoin de coordination;</li>
<li>l’ampleur et/ou l’impact social des
événements;</li>
<li>la nature des événements et principalement
leur complexité technique;</li>
<li>l’évolution des événements.</li>
La décision de déclencher une phase est une
décision stratégique qui appartient au bourgmestre,
au gouverneur ou au ministre. Elle ne peut être
déléguée.
La phase communale est déclenchée par le
bourgmestre (qui doit en informer le gouverneur)
pour autant que les conséquences dommageables
de la situation d’urgence ou la menace de telles
conséquences soient limitées au territoire de la
commune. Une condition supplémentaire pour le
déclenchement de cette phase est que la gestion
de la situation d’urgence doit pouvoir être assurée
avec les propres moyens et renforts dont la
commune dispose ou qui peuvent normalement être mis à sa disposition par d’autres services ou
organismes, par exemple le renfort du service
d’incendie ou de la police sur la base de plans
monodisciplinaires d’intervention ou d’accords
zonaux. Le déclenchement du PUI peut donc se
limiter à la phase communale aussi longtemps que
les moyens à mettre en œuvre ne provoquent pas
un surcroît de travail, au sein d’une même région,
pour le service d’incendie, la police, les moyens
médicaux et psychosociaux de soins et d’accueil et
leurs réserves respectives. Il est également tenu
compte du besoin en moyens logistiques et en
moyens d’interventions spécialisés de la protection
civile, à compléter éventuellement par d’autres
moyens publics ou privés.  </div>